@import url('https://fonts.googleapis.com/css2?family=Amiri:ital@1&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Amiri', serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    height: 10vh;
    align-items: center;
    max-width: 1366px;
    padding: 0 5rem;
}
nav .logo {
    display: flex;
    font-size: 2rem;
    align-items: center;
}
nav .logo i{
    color: #6e0aef;
    padding-left: 0.75rem;
}
nav .logo h4{
    font-family: 'Amiri', serif;
}
nav .nav-items {
    display: flex;
    list-style-type: none;
}
nav .nav-items .nav-item {
    padding: 0 1rem;
}
nav .nav-link {
    text-decoration: none;
    color: #4e547e;
    font-size: 1.4rem;
}
nav .nav-link:hover{
    color: #6e0aef;
}
.hero{
    background-color: #f8f7fc;
}
.hero-section{
    max-width: 1366px;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 5rem;
}
.hero-section .content{
    display: flex;
    flex-direction: column;
}
.hero-section h4{
    color: #6e0aef;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.hero-section .content h1{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}
.hero-section p{
    color: rgb(29, 29, 29);
    font-size: 1.4rem;
}
.hero-section p span{
    color: #6e0aef;
}
.btn{
    
    width: 10rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
    outline: none;
    border: none;
    padding: 0.75rem 1.5rem;
    background-color: #6e0aef;
    
}
.btn:hover{
    background-color: #8e42f1;
    cursor: pointer;
}
.btn a {
    text-decoration: none;
    color: #ffffff;
    font-size: 1.4rem;
}
section.features{
    padding: 2rem 0;
    background-color: #f8f7fc;
}
section.features .section-feature{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.section-feature h4{
    color: #6e0aef;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.section-feature .qualities{
    display: flex;
    justify-content: space-between;
}
.section-feature .qualities .quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 2rem;
    max-width: 17rem;
    border-radius: 1rem;
    margin: 1rem;
}
.section-feature .qualities .quality:hover{
    border: 2px solid #6e0aef;

}
.qualities .quality i{
    color: #6e0aef;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.qualities .quality h3{
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.qualities .quality p{
    font-size: 1.2rem;
    text-align: center;
    color: #4e547e;
}
.newst-phones{
    padding-top: 5rem;
}
.newst-phones .phone-section{
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
}
.phone-section h4{
    color: #6e0aef;
    font-size: 1.6rem;
    margin-bottom: 2rem;
}
.phone-section .phones{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: flex-start;
}
.phones .phone{
    margin: 2rem 0;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.phone img{
    margin-bottom: 1rem;
}
.phone img:hover{
    scale: 1.1;
    cursor: pointer;
}
.phone h3{
    font-size: 1.6rem;
}
.phone-section button{
    width: 15rem;
    margin-bottom: 1rem;
    align-self: center;
}
footer{
    background-color: #f8f7fc;
    height: 15vh;
    margin-top: 5rem;
    padding: 2rem 0;
}
.footer-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 5rem;
}
.footer-section p{
    font-size: 1.2rem;
    margin-bottom: 1rem;
}
.footer-section .social{
    margin-bottom: 1rem;
}
.footer-section .social i{
    padding: 0.5rem;
    font-size: 1.6rem;
}
.footer-section .social i:hover{
    color: #6e0aef;
    cursor: pointer;
}